@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  background-image: url("https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2FMCLP017%2Fcover%3F2ee434f2-4499-4c30-a937-4aec2b4ac1fc&width=1024");
}

@media (min-width: 1080px) {
  .right-socials {
    display: flex;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}
